* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-pad {
  height: 500px;
  width: 600px;
  background-color: aliceblue;
}

.calculator-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calc-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}

.operator {
  background-color: #f5913e;
}

.item-one {
  grid-column: 1/5;
  background-color: #858694;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  font-size: 30px;
  color: white;
  cursor: auto;
}

.item-zero {
  grid-column: 1/3;
}
